{% extends "components/_layout.html" %}

{% block content %}

<section>
    <h1>Musync</h1>

    <p>Play songs together with your friends.</p>

    <div class="player">
        <img id="player-img" src="{{ songs[0].albumImg }}">
        <h2 id="player-title">{{ songs[0].artist }} - {{ songs[0].title}}</h2>
        <audio src="audio/{{ songs[0].src }}" preload="auto" controls></audio>
    </div>

    {% for song in songs %}
        <button class="play-btn" data-artist="{{ song.artist }}" data-title="{{ song.title }}" data-src="{{ song.src }}" data-album="{{ song.album }}" data-albumart="{{ song.albumImg }}">{{ song.artist }} - {{ song.title }}</button>
    {% endfor %}
</section>

<section>
    <iframe id="file-upload" src="/upload-form" frameborder="0" width="100%" height="300"></iframe>
</section>

{% endblock %}