{% extends "components/_layout.html" %}

{% block content %}

<section>
    <h1>Musync</h1>
    <p>Play songs together and in sync with your friends.</p>

    <div class="song">
        <h2>Jon Hopkins - Everything Connected</h2>
        <audio src="audio/song-2.mp3" preload="auto" controls></audio>
    </div>

    {% for song in songs %}
        <button class="play-btn" data-artist="{{ song.artist }}" data-title="{{ song.title }}" data-src="{{ song.src }}">{{ song.artist }} - {{ song.title }}</button>
    {% endfor %}
</section>

{% endblock %}